---
title: Noon Financial Services | About
heading: About
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<div class="section group">
  <section class="col two-thirds col-float-right">
    <p>Joe Noon has been a mortgage broker in the San Francisco Bay Area for over 30 years. He started Noon Financial Services in 1994 with the mission to deliver the lowest rate in the shortest time and with the least amount of inconvenience to his borrowers. Joe utilizes the latest technology such as e-sign to process his loans, and his rates remain among the lowest available anywhere.</p>
    
    <p>Joe Noon is a member broker of the <%= link_to "Contra Costa Board of Realtors&reg;", "http://www.ccartoday.com/public", :target => "_blank" %>.</p>
    <p>Company NMLS: 239326<br>
    Individual NMLS: 239043</p>
  </section>
  <section class="col one-third col-float-left">
    <figure>
      <%= image_tag "joe-noon.jpg" %>
    </figure>
  </section>
</div>
