---
title: Noon Financial Services
heading: Testimonials
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<h3 class="subheading">What our clients are saying about us...</h3>
<div class="section group">
  <div class="col one-half">
    <div class="star-rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <blockquote>
      <h4>Joe Noon is a great lender to work with</h4>
      <p>We have done many loans with Joe over the years, home purchase, refi's and for pre-qualification. He always comes through with a great rate and gets us through the process with minimal hassle. We have referred him many times to family and friends who have had the same experience!</p>
      <cite><%= link_to "Rich D.", "https://www.zillow.com/lender-profile/josephnoon/", :target => "_blank" %></cite>
    </blockquote>
  </div>
  <div class="col one-half">
    <div class="star-rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <blockquote>
      <h4>Outstanding Lender</h4>
      <p>We have used Joe for mortgages over the past 20 years. We have recommended Joe to many of our friends and business associates. They have been equally impressed and stated they have never been more satisfied with Joe's professionalism. Joe gets the best deals for his clients.</p>
      <cite><%= link_to "Jack R.", "https://www.zillow.com/lender-profile/josephnoon/", :target => "_blank" %></cite>
    </blockquote>
  </div>
</div>
