---
title: Noon Financial Services
heading: Testimonials
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<h3 class="subheading">What our clients are saying about us...</h3>
<div class="section group">
  <div class="col one-half">
    <blockquote>
      <p>Joe Noon's advice was simple, clear, and felt true to our financial values.  He provided assistance or gave us referrals for everything we needed to keep our financial life in check. He also stays very current with the ever-changing financial climate. He is exactly what we were looking for in a financial advisor!</p>
      <cite><%= link_to "Randy H.", "https://www.google.com/search?q=noon+financial#lrd=0x808f8b5bc0f9dc77:0xe952c74cb733883a,1,,", :target => "_blank" %></cite>
    </blockquote>
  </div>
  <div class="col one-half">
    <blockquote>
      <p>Our family has worked with them for many years on multiple residential property loans. Our experience with them has been fantastic and we would highly recommend.</p>
      <cite><%= link_to "Marino P.", "https://www.google.com/search?q=noon+financial#lrd=0x808f8b5bc0f9dc77:0xe952c74cb733883a,1,,", :target => "_blank" %></cite>
    </blockquote>
  </div>
</div>
